@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
}
input,
input:focus {
  border: 0;
  outline: 0;
  border-radius: 20px;
}
button:hover {
  opacity: 0.8;
  transition: 0.3s;
}
button {
  cursor: pointer;
  opacity: 1;
}
.selectHover:hover {
  background-color: gainsboro;
  transition: 0.2s;
}
.selectItemsBorder {
  border-bottom: solid 0.001px #ddd7d7;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
input[type="checkbox"] {
  accent-color: rgb(16, 155, 16);
}
input[type="date"]::-webkit-datetime-edit-month-field {
  -webkit-appearance: none;
  display: none;
}
input[type="date"]::-webkit-datetime-edit-day-field {
  -webkit-appearance: none;
  display: none;
}
input[type="date"]::-webkit-datetime-edit-year-field {
  -webkit-appearance: none;
  display: none;
}
input[type="date"]::-webkit-datetime-edit-text {
  -webkit-appearance: none;
  display: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
table,
td,
th {
  border: 0.5px solid #ddd;
  text-align: left;
  border-radius: 5px;
}
table {
  border-collapse: collapse;
  width: 100%;
}
th,
td {
  padding: 15px;
  vertical-align: center;
  text-align: center;
}
th {
  background-color: #f7f7f8;
  color: #5d666f;
  font-weight: 500;
}
